@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  font-family: "Open Sans", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
}

.sidebar {
  background-color:black;
  margin: 0;
  height: auto;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main {
  background-color:darkgrey;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
}

.form-style {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 75%;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 5px;
  border: solid 0px;
  outline: none;
  background-color:aliceblue;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

p {
  text-align: center;
  color: whitesmoke;
}

.sidebar-button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-button {
  padding: 10px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: transparent;
  color: whitesmoke;
  border: solid 0.5px whitesmoke;
  border-radius: 5px;
  cursor: pointer;
}

a {
  width: 50%;
  text-decoration: none;
}

table, th, td, tr {
  max-width: 95%;
  border: solid 1px black;
  border-collapse: collapse;
}

.top-section-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.refresh-button {
  margin-bottom: 21.44px;
  padding: 10px;
  width: 50%;
  background-color: whitesmoke;
  color: black;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}